.cards {
  font-family: 'Inter', sans-serif;
}

.cards_title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.cards_list {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  background: linear-gradient(
    90.55deg,
    #7068c1 -2.67%,
    rgba(4, 190, 0, 0.74) 153.82%
  );
  margin: 30px auto;
  width: 380px;
  height: 230px;
  border-radius: 40px;
  cursor: pointer;

  /*box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),*/
  /*  -5px -5px 30px 7px rgba(0, 0, 0, 0.22);*/
  transition: 0.4s;
}

.card .card_title {
  display: flex;
  text-align: center;
  padding: 70px 0; /*Костыль ебать*/
  font-weight: 500;
  font-size: 20px;
  height: 25px;
  color: white;
}

.card:hover {
  transform: scale(0.95, 0.95);
  /*box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),*/
  /*  -5px -5px 30px 15px rgba(0, 0, 0, 0.22);*/
}
