.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  background: linear-gradient(
    90.55deg,
    #7068c1 -2.67%,
    rgba(4, 190, 0, 0.74) 153.82%
  );
  margin: 30px auto;
  width: 400px;
  height: 250px;
  border-radius: 40px;
  cursor: pointer;

  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}

.card .card_title {
  text-align: center;
  padding: 70px 0; /*Костыль ебать*/
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  height: 40px;
  color: white;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
