.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.search {
  width: 723px;
}

.search_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 52px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

input.search {
  width: 585px;
  flex-shrink: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 11px;
  background-color: #ffffff;
  background-image: url('../../img/search.svg');
  background-repeat: no-repeat;
  background-position: 22px center;
  padding-left: 30px;
  border: none;
  border-radius: 15px 0 0 15px;
  border: 2px solid #dadada;
  padding-left: 69px;
  font-size: 22px;
  line-height: 29px;
  color: #acacac;
  &:active {
    border: 2px solid #dadada;
    outline: none;
  }
  &:focus {
    border: 2px solid #dadada;
    outline: none;
  }
  &::placeholder {
    font-size: 22px;
    line-height: 29px;
    color: #acacac;
    font-family: 'Roboto', sans-serif;
  }
}

.button-search {
  width: 138px;
  flex-shrink: 0;
  height: 100%;
  background-color: #dadada;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 22px;
  color: #282828;
  border: none;
  box-sizing: border-box;
}

.nav-items {
  display: flex;
  gap: 40px;
  font-family: 'Roboto', sans-serif;
  a {
    border-radius: 20px;
    padding: 17px 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    gap: 14px;
  }
  .login {
    background: linear-gradient(90deg, #56ccf2 0%, #2f80ed 100%);
  }
  .faq {
    background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
  }
}
